@model MessageModel

@{
    bool isSender = Model.SenderId == User.Id();
}

<div class="card 
     @(isSender? "align-self-end":"align-self-start") rounded-pill px-4 py-2
     @(isSender? "text-primary bg-white border-primary":"text-white bg-primary")">
        @Model.Content
</div>
