@inject Microsoft.AspNetCore.Antiforgery.IAntiforgery Xsrf

@model MessagePostFormModel

@{
    var token = Xsrf.GetAndStoreTokens(Context).RequestToken??string.Empty;
    
}

<section class="bg-light py-4 fixed-bottom px-5">
    <form class="d-flex gap-3 align-items-center" >
       <div class="flex-grow-1">
         <input asp-for="@Model.Content" type="text" class="form-control" id="msg-content" placeholder="Send a message...">
         <span asp-validation-for="@Model.Content"></span>
       </div>
       <input id="receiver-input" type="hidden" asp-for="@Model.ReceiverId"/>
       <input id="sender-input"   type="hidden" asp-for="@Model.SenderId"/>

       <input id="sendBtn" class="btn btn-primary" type="submit" value="Send"/>
    </form>
</section>

 @section Scripts{
     <partial name="_ValidationScriptsPartial.cshtml"/>
 }
