@model OfferReportPostModel

<section class="d-flex flex-column ">
   <h2 class="mb-5 mt-5 text-center">Please, fill out this report form</h2>
   <form class="d-flex flex-column" method="post">
     <div class="mb-3">
       <select asp-for="@Model.ReasonForReport" class="form-select">
             <option value="0">Hate speech or symbols</option>
             <option value="1">Nudity or sexual context</option>
             <option value="2">Racism</option>
             <option value="3">Scam or fraud</option>
             <option value="4">Bullying or harrasment</option>
             <option value="5">Spam</option>
             <option value="6">Account may have been hacked</option>
             <option value="7">Sale of illegal or regulated goods</option>
             <option value="8">Violence or dangerous organisations</option>
             <option value="9">Other (please, specify)</option>
       </select>
      </div>
      <div class="mb-3">
          <label for="comment" class="form-label">Additional comment</label>
          <textarea asp-for="@Model.Comment"  class="form-control" id="comment" placeholder="Please, add anything that migth help us understand the problem better..."></textarea>
          <span class="text-danger" asp-validation-for="@Model.Comment"></span>
      </div>
       <input class="btn btn-warning align-self-center" value="Report" asp-action="Report" asp-controller="OfferStatus" asp-route-id="@Model.Id" type="submit" />
   </form>
</section>

@section Scripts{
     <partial name="_ValidationScriptsPartial"/>
 }
