
<div class="modal fade" id="profilePictureModal" data-bs-backdrop="static" data-bs-keyboard="false" tabindex="-1" aria-hidden="true">
  <div class="modal-dialog">
    <div class="modal-content">
      <div class="modal-header">
        <h4 class="modal-title fs-5" id="staticBackdropLabel">Now you have to choose a profile picture!</h4>
        <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
      </div>
      <div class="modal-body">
        <form enctype="multipart/form-data" asp-controller="User" method="post" asp-action="SetUpProfilePicture">
           <input type="file" class="form-control" name="file" id="inputGroupFile04" aria-describedby="inputGroupFileAddon04" aria-label="Upload" accept="image/png, image/jpeg">
           <div class="modal-footer">
             <input type="submit" class="btn btn-primary" value="I have chosen a picture!"/>
           </div>
        </form>
      </div>
    </div>
  </div>
</div>

<script src="~/lib/jquery/dist/jquery.min.js"></script>

<script type="text/javascript">
   $(window).on('load', function() {
    $('#profilePictureModal').modal('show');
   });
</script>