@model UserFriendshipModelList

    @if (Model.TotalFriends==0)
    {
         <section class="d-flex flex-column align-items-center mt-5 justify-content-start gap-2">
               <h4>You do not have any friend requests at the moment.</h4>
          </section>
    }
    else
    {
        <h2>Total requests: @Model.TotalFriends</h2>
        <section class="d-flex justify-content-start gap-2 mb-4">
             @foreach (var userCard in Model.Friends)
             {
               <partial name="_UserCardPartial" model="@userCard" />
             }
        </section>
        <partial name="_PaginatorPartial" model="new PaginatorModel(FriendshipController,PendingAction,Model.CurrentPage,Model.TotalPagesCount)"/>
    }

