@model string
@{
    ViewData["Title"] = "Privacy Policy";
}
<h1>@ViewData["Title"]</h1>

@if (Model != "12")
{
    <img src="data:image/png;base64,@Model"/>
    
}
<form enctype="multipart/form-data" asp-controller="Home" asp-action="Save">
    <input type="file" name="file" accept="image/png">
   <button type="submit" value="Upload"/>
</form>
