@model ConversationModel
<h2 class="text-center mt-4">Chat with @Model.ReceiverUsername</h2>

<section style="overflow-y: scroll; height:25em; scroll-snap-align:end;" id="message-container" class="d-flex gap-2 flex-column">
    @foreach (var message in Model.Messages)
    {       
       <partial
           name="/Areas/Matcher/Views/Shared/MessagePartials/_MessageCardPartial.cshtml" 
           model="message"
       />
    }
</section>

<partial name="/Areas/Matcher/Views/Shared/MessagePartials/_SendMessageForm.cshtml" model="new MessagePostFormModel(){ReceiverId=Model.ReceiverId,SenderId=Model.SenderId}"/>

@section Scripts{
   <script defer  src="~/js/chat.js" asp-append-version="true"></script>
}